<header>
  <div class='container'>
    <nav>
      <ul class = "nav" class="right hide-on-med-and-down">
        <li><%= link_to "All users", users_path, class: 'nav-link' %></li>
        <li><%= link_to "All events", events_path, class: 'nav-link' %></li>
        <% if user_signed_in? %>
          <li><%= link_to "My events", "/users/#{current_user.id}", class: 'nav-link' %></li>
          <li><%= link_to "My invites", "/event_invitations/show", class: 'nav-link' %></li>
          <li><%= link_to "My profile", edit_user_registration_path, class: 'nav-link' %></li>
          <li><%= link_to "New event", new_event_path, class: 'nav-link' %></li>
          <li><%= "Signed in as #{current_user.username}" %></li>
          <li><%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link' %></li>
         <% else %>
          <li><%= link_to "Log in", new_user_session_path, class: 'nav-link' %></li>
          <li><%= link_to "Sign up", new_user_registration_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<!-- My events needs to be a list of events I've organised, events I'm going to,
events I need to respond to, events I went to. Stretch goal would be events I declined -->
<!-- #link_to "My events", events_path, class: 'nav-link' -->